.video {
  width: 100%;
  max-width: 350px;
  height: 100%;
  min-height: 170px;
  object-fit: contain;
}

.full-screen-icon {
  position: relative;
  top: -218px;
  left: 163px;
  background-color: #FFF;
}