.videos {
  display: grid;
  justify-items: center;
  align-items: center;
  margin: 0 10px;
  row-gap: 10px;
  column-gap: 10px;

}
.twoColumnVideos {
  grid-template-columns: 1fr 1fr;
}
.threeColumnVideos {
  grid-template-columns: 1fr 1fr 1fr;
}
.fourColumnVideos {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.video {
  width: 100%;
  max-width: 350px;
  height: 100%;
  min-height: 170px;
  object-fit: contain;
  background-color: lightgrey;
}
.buttons {
  display: flex;
  justify-content: center;
}
.btn {
  margin: 10px;
}