<div class="videos-main-container">
  <app-source-list
    class="sourceList"
    (videosToWatch)="addVideoToWatchlist($event)"
    (emitChoosenGrid)="choosenGirdSystem($event)"
    (emitRemovedVideo)="removeVideoFromWatchlist($event)"
    [addedVideos]="videosToWatch"
    [oneColumnGrid]="fullWidthVideo"
  ></app-source-list>
  <div class="videos-container">
    <div class="no-videos-message" *ngIf="videosToWatch.length == 0">
      No videos added !
    </div>
    <div
      class="videos twoColumns"
      [ngClass]="{
        twoColumnVideos: twoColumns,
        threeColumnVideos: threeColumns,
        fourColumnVideos: fourColumns
      }"
    >
      <app-tensorflow-example
        *ngFor="let video of videosToWatch"
        [videoSrc]="'../../../../assets/VideoSources/' + video.videoUrl"
        [videoId]="video.id"
        id="videoAdded"
        class="video"
        (threatDetected)="isThreatActive($event)"
        (click)="showVideoDetails(video)"
        (dblclick)="showMainVideo(video)"
        [rearm]="rearm"
      >
      </app-tensorflow-example>
    </div>
  </div>
  <app-video-settings
    class="videoSettings"
    [videoSettings]="selectedVideo"
    [threatDetected]="isAThreatActive"
    (rearm)="rearmSystem($event)"
  >
  </app-video-settings>
</div>
