.videos-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #202a2f;

  .videos {
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 0 10px;
    row-gap: 10px;
    column-gap: 10px;
    max-height: 71vh;
    overflow: auto;

    .video {
      width: 100%;
      height: auto;
      min-height: 170px;
      object-fit: contain;
      cursor: pointer;
    }
  }

  .twoColumnVideos {
    grid-template-columns: 1fr 1fr;
  }

  .threeColumnVideos {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .fourColumnVideos {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .video-timeline {}

}

.buttons {
  display: flex;
  justify-content: center;
}

.btn {
  margin: 10px;
}

.videos-main-container {
  display: grid;
  grid-template-columns: 18% 1fr 18%;
  grid-template-rows: auto;
  grid-template-areas: "sourceList videosContainer videoSettings";
  position: absolute;
  width: 100%;
  top: 56px;
  height: 94%;
}

.sourceList {
  grid-area: sourceList;
  background-color: #263238;
  height: 100%;
  min-width: 18%;
}

.videosContainer {
  grid-area: videosContainer;
}

.no-videos-message {
  font-size: 40px;
  color: #ffffff94;
  margin: auto;
  width: 410px;
  margin-top: 6rem;
}

.videoSettings {
  grid-area: videoSettings;
  background-color: #263238;
  height: 100%;
  min-width: 18%;
}