.home {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "sourceList streamingVideos";
}

.sourceList {
  grid-area: sourceList;
  background-color: orange;
}

.streamingVideos {
  grid-area: streamingVideos;
  background-color: red;
}