h3 {
  color: #ffffff;
}

.header-video-details {
  color: #ffffff;
  margin: 20px;
}

.video-settings {
  margin: 20px;
  font-size: 20px;
}

.video-name {
  color: #e0fff0de;
}

.video-settings {
  color: #e0fff0de;
}

mgl-map {
  height: 50%;
  width: 100%;
}