<div class="header-video-details">
  <h3>Video Settings</h3>
  <h5 *ngIf="!videoSettings?.name">No video selected</h5>
</div>
<div class="video-settings" *ngIf="videoSettings?.name">
  <div class="video-address">Address : {{ videoSettings.address }}</div>
</div>
<mgl-map
  *ngIf="videoSettings?.long"
  [style]="'mapbox://styles/mapbox/streets-v9'"
  [zoom]="[17]"
  [center]="[videoSettings.lat, videoSettings.long]"
>
  <mgl-marker [lngLat]="[videoSettings.lat, videoSettings.long]"></mgl-marker>
</mgl-map>

<div class="alarm">
  <button *ngIf="threatDetected === 'active' && videoSettings?.name" class="btn no-alarm-btn ping" disabled>
  </button>
  <button
    *ngIf="videoSettings?.name"
    (click)="sendMessage()"
    class="btn no-alarm-btn"
    [ngClass]="{'pulsate-bck': threatDetected === 'active'}"
  >
  {{ threatDetected === 'active' ? 'ALARM' : 'SAFE' }}
  </button>
</div>
<div
 class='rearm-container'
 *ngIf="threatDetected === 'active' && videoSettings?.name"
>
  <button 
    class='rearm-button'
    (click)="rearmSystem()"
  >
    Rearm
  </button>
</div>