<div class="credits_container">
<div class="fade"></div>

<section class="star-wars">
  <div class="crawl">
    <div class="title">
      <img src="../../../assets/ui/logo_white.png">
      <h1>An Assist BIM Project</h1>
    </div>
    
    <p>It was a great fun to work on this project but also a great challenge as we started with ML knowledge from scratch.</p>
    <p>Our team worked hard to make this work so a big cogratulations is due to: </p>  
    <div class="name_align">
        <p>Sergiu Ilciuc</p>
        <p>Sebastian Hatnean</p>
        <p>Paul Beresca</p>
    </div>
    <p>         We hope that you Enjoyed watching and we are ready for your questions.</p>

  </div>
</section>
</div>