* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialased;
  -moz-osx-font-smoothing: antialased;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 1px;

  /* width */
  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f100;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e5edf15c;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e5edf18c;
  }
}

html,
body {
  height: 100%;
}

.home {
  height: calc(100% - 57px);
}

body {
  margin: 0;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: "Orbitron", sans-serif;
}

.mat-radio-label {
  display: flex;
  justify-content: space-between;
}

text {
  fill: white;
}

path[stroke="#5a7b7b"] {
  stroke: white;
}

path[stroke="#648989"] {
  stroke: white;
}
